<div [ngClass]="['navbar', getNavbarStyle('navbar')]">
  <div class="navbar__container">
    <div class="navbar__section left-section">
      <h1 [ngClass]="['left-section__title', getTextColor('left-section__title')]">
        SmartFit
      </h1>
    </div>
    <div class="navbar__section right-section">
      <div class="right-section__auth auth">
        <p [ngClass]="['auth__item', 'auth__item--login', getTextColor('auth__item')]">
          Login
        </p>
        <p [ngClass]="['auth__item', 'auth__item--registration', getTextColor('auth__item')]">
          Registration
        </p>
      </div>
    </div>
  </div>
</div>