<div [ngClass]="['navbar', getClassDecorator('navbar')]">
  <div class="navbar__container">
    <div class="navbar__section left-section">
      <h1 (click)="goToHomePage()" [ngClass]="['left-section__title', getClassDecorator('left-section__title')]">
        SmartFit
      </h1>
    </div>
    <div class="navbar__section right-section">
      <language-switching
        class="right-section__lang"
        [classDecorator]="getClassDecorator('')"
      >
      </language-switching>

      <div class="right-section__auth auth">
        <div class="auth__wrapper" *ngIf="!isLoggedIn(); else authenticated">
          <p (click)="openLoginDialog()" [ngClass]="['auth__login', getClassDecorator('auth__login')]">
            {{'Sign in' | translate}}
          </p>
          <p (click)="openRegistrationDialog()" [ngClass]="['auth__registration', getClassDecorator('auth__registration')]">
            {{'Register' | translate}}
          </p>
        </div>
        <ng-template #authenticated>
          <div class="auth__wrapper">
            <p [matMenuTriggerFor]="menu" [ngClass]="['auth__menu', getClassDecorator('auth__menu')]">
              {{'Menu' | translate}}
            </p>
            <mat-menu #menu="matMenu">
              <button (click)="goToOrdersHistory()" mat-menu-item>
                {{'Orders history' | translate | capitalize}}
              </button>
              <button (click)="goToDiary()" mat-menu-item>
                {{'Diary' | translate | capitalize}}
              </button>
              <button (click)="goToProgress()" mat-menu-item>
                {{'Progress' | translate | capitalize}}
              </button>
              <button (click)="goToPersonal()" mat-menu-item>
                {{'Personal' | translate | capitalize}}
              </button>
              <button (click)="logout()" mat-menu-item>
                {{'Log out' | translate | capitalize}}
              </button>
            </mat-menu>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>