<div [ngClass]="['navbar', getClassDecorator('navbar')]">
  <div class="navbar__container">
    <div class="navbar__section left-section">
      <h1 [ngClass]="['left-section__title', getClassDecorator('left-section__title')]">
        SmartFit
      </h1>
    </div>
    <div class="navbar__section right-section">
      <div class="right-section__auth auth">
        <p (click)="openLoginDialog()" [ngClass]="['auth__login', getClassDecorator('auth__login')]">
          {{'Sign in' | translate}}
        </p>
        <p [ngClass]="['auth__registration', getClassDecorator('auth__registration')]">
          {{'Register' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>