@import 'abstracts/constants';

.navbar {
  width: 100%;
  &--sticky {
    box-shadow: 0 6px 15px -5px rgba(0,0,0,0.6);
    transition: 1s;
    background-color: #fff;
    position: fixed;
  }
  &--no-sticky {
    margin-bottom: -50px;
  }
  &--no-landing {
    background-color: #fff;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    height: 50px;
    margin: 0 auto;
  }
  &__section {
    display: flex;
    align-items: center;
    .left-section {
      &__title {
        font-size: 23px;
        margin: 0;
        &--sticky {
          color: $green;
        }
        &--no-sticky {
          color: white;
        }
        &--no-landing {
          color: $green;
        }
      }
    }
    .right-section {
      &__auth {
        display: flex;
        align-items: center;
        color: #fff;
        .auth {
          &__login {
            cursor: pointer;
            margin: 0 10px;
            &--sticky {
              color: black;
            }
            &--no-sticky {
              color: white;
            }
            &--no-landing {
              color: black;
            }
          }
          &__registration {
            padding: 4px 9px;
            border-radius: 10px;
            cursor: pointer;
            z-index: 99;
            &--sticky {
              color: white;
              background-color: $green;
            }
            &--no-sticky {
              color: $green;
              background-color: white;
            }
            &--no-landing {
              color: white;
              background-color: $green;
            }
          }
        }
      }
    }
  }
}