$max-width: 1200px;
$dark-green: #6fce4e;
$green: #a0ce4e;
$light-green: #cfe74c;
$black: #333333;
$dark-gray: #666666;
$gray: #bdbdbd;
$light-gray: #eeeeee;
$red: crimson;
$orange: orange;
$margin-sides-content: 10px;
$margin-top-content: 30px;
$border-radius: 4px;